@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Condensed:ital@0;1&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displayStats{
  font-size: 48px;
}

.container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.clock{
  flex-grow: 1;
  font-size: 300%;
  /* font-family: 'Fira Sans Condensed', sans-serif; */
}
.start-end-times{
  flex-grow: 0.5;
  display:flex;
  font-size:150%
}

.start-time-item{
  flex-grow:1;
}
.end-time-item{
  flex-grow:1;
}
.start-end-header{
  font-size: 100%;
  margin: 3px;
  text-decoration-line: underline;
}


.display-container{
  flex-grow: 3;
}

.button-container{
  flex-grow: 0.5;
}