@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Condensed:ital@0;1&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ############## Page CSS ############### */

.container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.clock{
  flex-grow: 1;
  font-size: 300%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;

  /* font-family: 'Fira Sans Condensed', sans-serif; */
}


/* ### Display under clock ### */
.display-container{
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.button-container{
  flex-grow: 0.5;
}


/* ##### Left side ###### */
.statistics-container{
  flex-grow: 2.5;
  display:flex;
  flex-direction: column;
  font-size:150%;
  order:1;
  padding-right: 20px;
  width: 400px;
}


.start-end-time{     /* First box on left */
  border: 5px solid rgba(0, 0, 0, 0.371);
  
  @media (min-width: 600px) {
    border-left: 0px;
  }
  flex-grow:1;
  /* display:flex;
  flex-direction:column;
  justify-content:space-around; */
  background-color: rgba(208, 208, 212, 0.231);

  h3{
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  hr{
    border-top: 3px solid #bbbbbb5a;
    width: 50%;
    margin-left: 7px;
  }

}
  

.time-box{           
  display: inline-block;
  background-color: rgba(0, 0, 255, 0.385);
  margin: 10px;
  padding: 20px;
}

.spent-item{  /* Second box on left */

  flex-grow:1;
  /* display:flex;
  flex-direction:column;
  justify-content:space-around; */

  div{
    text-align: left;
    margin-left: 12px;
  }

  border: 5px solid rgba(0, 0, 0, 0.371);
  border-top: 0px;
  @media (min-width: 600px) {
    border-left: 0px;
  }

  background-color: rgba(31, 135, 41, 0.454);

  h3{
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  hr{
    border-top: 3px solid #bbbbbb5a;
    width: 50%;
    margin-left: 7px;
  }
}
.left-item{   /* Third box on left */
  flex-grow:1;

    
  div{
    text-align: left;
    margin-left: 12px;
  }


  border: 5px solid rgba(0, 0, 0, 0.371);
  border-top: 0px;
  @media (min-width: 600px) {
    border-left: 0px;
  }

  background-color: rgba(208, 208, 212, 0.231);


  h3{
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  hr{
    border-top: 3px solid #bbbbbb5a;
    width: 50%;
    margin-left: 7px;
  }
}

/* ####### Gauge ######  */

.gauge-container{
  flex-grow:5;
  order:2;
  @media (max-width: 600px) {
    order:0;
  }
}


text{
  :first-child{
    font-size: 150%;
  }
}

.g2-html-annotation{

font-size: 250%;
transform: translateY(500px);
@media (max-width: 600px) {
  font-size: 120%;
}
}
/* ####END Gauge##### */

/* #### Right SIDE ### */
.conversions-container{
  flex-grow: 2.5;
  display:flex;
  flex-direction: column;
  font-size:150%;
  order:3;
  padding-right: 20px;
  width: 400px;
}


.conversion-list{     /* First box on left */
  div{
    text-align: left;
    margin-left: 12px;
  }

  border: 5px solid rgba(0, 0, 0, 0.371);
  
  @media (min-width: 600px) {
    border-right: 0px;
  }

  background-color: rgba(208, 208, 212, 0.231);

  h3{
    text-align: left;
    padding-left: 7px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  hr{
    border-top: 3px solid #bbbbbb5a;
    width: 50%;
    margin-left: 7px;
  }
}
  


/* #### eND Right SIDE ### */



/* ### END Display under clock ### */

/* 
#-axis-label-0\.49999999999999994:first-of-type{
  font-size: xx-large;
} */
/* .text:first-child{
  font-size: xx-large;
} */
